<!DOCTYPE html>
<html lang="en" class="scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.12.0/dist/cdn.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.5/flowbite.min.css" rel="stylesheet" />
  </head>
  <body>
    <!-- FASTFILTER CONTENT -->

    <div class="flex items-center justify-center py-4 md:py-8 flex-wrap">
      <button
        type="button"
        class="text-white bg-cyan-950 hover:border hover:border-teal-500 hover:bg-white hover:text-teal-700 focus:ring-4 focus:outline-none focus:ring-gray-300 rounded-full text-base font-medium px-5 py-2.5 text-center mr-3 mb-3"
      >
        All categories
      </button>
      <button
        type="button"
        class="text-white bg-cyan-950 hover:border hover:border-teal-500 hover:bg-white hover:text-teal-700 focus:ring-4 focus:outline-none focus:ring-gray-300 rounded-full text-base font-medium px-5 py-2.5 text-center mr-3 mb-3"
      >
        Ilmu Komputer
      </button>
      <button
        type="button"
        class="text-white bg-cyan-950 hover:border hover:border-teal-500 hover:bg-white hover:text-teal-700 focus:ring-4 focus:outline-none focus:ring-gray-300 rounded-full text-base font-medium px-5 py-2.5 text-center mr-3 mb-3"
      >
        Manajemen
      </button>
      <button
        type="button"
        class="text-white bg-cyan-950 hover:border hover:border-teal-500 hover:bg-white hover:text-teal-700 focus:ring-4 focus:outline-none focus:ring-gray-300 rounded-full text-base font-medium px-5 py-2.5 text-center mr-3 mb-3"
      >
        Statistika
      </button>
      <button
        type="button"
        class="text-white bg-cyan-950 hover:border hover:border-teal-500 hover:bg-white hover:text-teal-700 focus:ring-4 focus:outline-none focus:ring-gray-300 rounded-full text-base font-medium px-5 py-2.5 text-center mr-3 mb-3"
      >
        Bisnis
      </button>
    </div>

    <!-- END FASTFILTER CONTENT -->

    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.5/flowbite.min.js"></script>
  </body>
</html>
